body {
  background: linear-gradient(90deg, rgba(0,180,255,0.53) 0%, rgba(255,255,255,1) 29%, rgba(255,255,255,1) 69%, rgba(0,180,255,0.5293767165069152) 100%);
}

.container {
  margin: auto;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

form button {
  padding: 15px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  background-color: #007bff;
  color: white;
}

form button:hover {
  background-color: #0056b3;
}

.container {
  padding-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}